<p>employee works!</p>

<div class="container">
    <div class="form-group">
        <label for="email">Email address:</label>
        <input type="email" class="form-control" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" placeholder="Enter password" id="pwd">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-8">zawartość komórki</div>
        <div class="col-sm-4">zawartość komórki</div>
    </div>
</div>