/* You can add global styles to this file, and also import other style files */

/* nav button.active {
    color: blue;
} */

/* button .btn-secondary {
    width: 150px;
    --inherits: .btn-secondary;
} */

/* nav.btn.btn-info button {
    width: 150px;
} */
